.about__image {
  width: 200px;
  height: 200px;
}

.about-content {
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

// portfolio section
.project:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
}
